<!DOCTYPE html>
<html>
<link href="static/css/style.css" rel="stylesheet" type="text/css" />
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
</head>
<body>

    <script src="static/javascript/create_3djs_plot.js"></script>

    <script src="static/javascript/analyses_selection.js"></script>

    <div id="ana_button">
        <form id="get_ana">
            <button type="submit">Available Analyses</button>
        </form>
    </div>
    <div id="synchro">
        <div id="sync_all">
            <b>Synchronisation: </b>
            <input type="checkbox" id="sync_plots" checked> Synchronize plots </input>
            <input type="checkbox" id="sync_visu" checked> Synchronize visualisation </input>
        </div>
        <div id="context_lvl_choices">
            <b>Contextualization: </b>
            <form id="update_context_lvl">
                <input type="radio" name="context_lvl" value="none">No context</input>
                <input type="radio" name="context_lvl" value="weak" checked>Weak context</input>
                <input type="radio" name="context_lvl" value="strong">Strong context</input>
            </form>
            </br>
        </div>
    </div>


    <div id="plots">
        <h2 onclick="expand(this);"> MODEL </h2>
        <div id='model_lvl'>
            <div id="model_two_column"></div>
            <div id="model_current_plots" class="inline"></div>
            <div id="model_buttons"> </br></br>
                <button id='model_more_btn' onclick="new_ana_lists(this);">More plot</button>
                <form id="send_ana" name="model">
                    <button type="submit">Create plots</button>
                </form>
            </div>
            <div id="model_plots"></div>
        </div>
        <br>
        <hr>
        <h2 onclick="expand(this);"> CHAIN </h2>
        <div id='chain_lvl'>
            <div id="chain_two_column"></div>
            <div id="chain_current_plots"></div>
            <div id="chain_buttons"> </br></br>
                <button id='chain_more_btn' onclick="new_ana_lists(this);">More plot</button>
                <form id="send_chain_ana" name="chain">
                    <button type="submit">Create plots</button>
                </form>
            </div>
            <div id="chain_plots"></div>
        </div>
        </br>
        <hr>
        <h2 onclick="expand(this);"> RESIDUE </h2>
        <div id='residue_lvl'>
            <div id="residue_two_column"></div>
            <div id="residue_current_plots"></div>
            <div id="residue_buttons"> </br></br>
                <button id='residue_more_btn' onclick="new_ana_lists(this);">More plot</button>
                <form id="send_residue_ana">
                    <button type="submit">Create plots</button>
                </form>
            </div>
            <div id="residue_plots"></div>
        </div>
        </br>
        <hr>
        <h2 onclick="expand(this);"> ATOM </h2>
        <div id='atom_lvl'>
            <div id="atom_two_column"></div>
            <div id="atom_current_plots"></div>
            <div id="atom_buttons"> </br></br>
                <button id='atom_more_btn' onclick="new_ana_lists(this);">More plot</button>
                <form id="send_atom_ana">
                    <button type="submit">Create plots</button>
                </form>
            </div>
            <div id="atom_plots"></div>
        </div>
        </br>
        <hr>
    </div>
</body>
</html>
