<!DOCTYPE html>
<html>
<link href="static/css/style.css" rel="stylesheet" type="text/css" />
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
</head>
<body>

    <script src="static/javascript/create_3djs_plot.js"></script>

    <script src="static/javascript/analyses_selection.js"></script>

    <div id="ana_button">
        <form id="get_ana">
            <button type="submit">Available Analyses</button>
        </form>
    </div>
    <br>
    <div id="current_plots"></div>
    <div id="two_column"></div>
    <div id="analysis_buttons"> </br></br>
        <button onclick="new_ana_lists();">More plot</button>
        <form id="send_ana">
            <button type="submit">Create plots</button>
        </form>
    </div>
    <div id="synchro">
        <input type="checkbox" id="sync"> Synchronize plots </input>
    </div>
    <div id='demo'></div>
</body>
</html>
